# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Portable Maven (Local Installation)
apache-maven-3.9.6/
maven.zip

# H2 Database file in-development
*.mv.db
*.trace.db

# IDEs and Editors
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
